SECRET_KEY=generate-with-secrets.token_hex-32
AES_MASTER_KEY=generate-with-Fernet.generate_key
RESET_SECRET_KEY=generate-with-secrets.token_hex-32


DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vault
FRONTEND_URL=http://localhost:8000


ALGORITHM=HS256
RESET_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30


SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
MAIL_FROM=noreply@vault.com